.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
  flex-flow: row;
  width: 100%;
  margin: 10px;
  overflow: scroll;
}

table {
  table-layout: auto;
  width: auto;
  margin: 0px;
}

html,
body {
  margin: 0;
  height: 100%;
}

.app-div {
  height: 100%;
}
